
body {
    font-family: 'Roboto', sans-serif;
}

.carousel-item {
    max-height: 620px;
}

.navbar {
    background-color: #6c3f1c;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #6c3f1c;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #814a20;
}

.section-title {
    font-family: 'Birthstone Bounce' , cursive;
}

#sobre-o-restaurante, #cardapio {
    background-color: #a08f82;
}

.text-colored {
    color: #6c3f1c;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #6c3f1c;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #865631;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}